{
    "env": {
        "esm": {
            "presets": [
                "@babel/typescript"
            ]
        },
        "cjs": {
            "presets": [
                "@babel/typescript",
                [
                    "@babel/env",
                    {
                        "modules": "commonjs"
                    }
                ]
            ],
            "plugins": ["add-module-exports"]
        },
    }
}
